doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js', integrity='sha512-7ipCBxjyY8hkG6UOnv9ymoOE2P+amRmJH2y1ClcGVipaIaDvKH6zFhe/UD++lDXm0a3IlNPe0Jjv1GPc1m0ieQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
  body
    block content
